::ng-deep {
    .ng5-slider {
        width: 500px  !important;
        .ng5-slider-selection {
            background: #DF495B !important;
          }
        .ng5-slider-pointer {
           
            background: #F5821F !important;
            border: 0px solid #F5821F !important  ;
            border-radius: 10px !important;
           
 
        }

    
    }
}
.text-box{
width: 108px;
height: 32px;
margin-left: 35px;
border: 1px solid #D9D9D9;
}

.input-group-addon{
    border:0  !important;
    background: #F5821F;
    
}

.h1-header{
   font-size: xx-large;
    margin-left: 98px;

}

.sub-header{
    font-weight: bold;
}
.result{
    float:right !important;
    margin-top:10px
}

.input-text{
    width:150px;
    float:right;
    margin-top: -90px;
}

.input-sub-text{
    width:150px;
    float:right;
    margin-top: -50px
}

.input-small-text{
    width: 7%;
    float: right;
    margin-top: -50px;
    margin-right: 100px;
}