<div class="container">
  <div>
    <span class=h1-header> Mortgage Calculator</span>

  </div>
</div>
<br />

<div class="container">
  <div class="spacer">
    <div class="row">
      <div class="col-lg-8  col-lg-offset-1">
        <h4 class="heading-left categoryheader sub-header">Mortgage Details</h4>
        <p>Enter your mortgage details:</p>
        <div class="well">

          <div class="form-group">
            <div>
              <h4>
                Mortgage Amount
              </h4>

            </div>
            <hr />
            <div>
              <ng5-slider [(value)]="principalAmt.value" [options]="poptions" (userChangeEnd)="refresh()"></ng5-slider>
            </div>
            <div>
              <input type="number" class="form-control text-box input-text" (blur)="update(0)"
                [(ngModel)]="query.amount" min="0" max="2000000" value="$3,00,000" data-index="1"
                placeholder="Loan Amount" name="principalAmt.highValue"
               (keyup)="enforceMinMax(this)"/>

              <input class="form-control labelMrtgCalcFormatted input-sub-text"
                placeholder="{{query.amount | currency:'USD':true:'1.2-2'}}" disabled>

            </div>
          </div>


          <hr />


          <div class="form-group">
            <div>
              <h4>
                Interest Rate
              </h4>
            </div>
            <hr />
            <div>
              <ng5-slider [(value)]="interest.value" [options]="roptions" (userChangeEnd)="refresh()">
              </ng5-slider>
            </div>
            <div>
              <input type="number" class="form-control input-text" (blur)="update(1)" [(ngModel)]="query.interest"
                placeholder="Interest Rate" min="0" max="20" (keyup)="enforceMinMax(this)" name="interest.highValue" />
              <input class="form-control labelMrtgCalcFormatted input-sub-text"
                placeholder="{{query.interest}}% per annum" disabled>
            </div>
          </div>


          <div class="form-group">
            <div>
              <h4>
                Loan Tenure
              </h4>
            </div>
            <div>
              <ng5-slider *ngIf="yrToggle" [(value)]="tenureYrs.value" [options]="toptions" (userChangeEnd)="refresh()">
              </ng5-slider>
              <ng5-slider *ngIf="!yrToggle" [(value)]="tenureMths.value" [options]="moptions"
                (userChangeEnd)="refresh()">
              </ng5-slider>
            </div>
            <div>
              <input type="text" *ngIf="yrToggle" class="form-control input-small-text" (blur)="update(2)"
                placeholder="Loan Tenure in Yr" [(ngModel)]="query.tenureYr">
              <input type="text" *ngIf="!yrToggle" class="form-control input-small-text" (blur)="update(3)"
                placeholder="Loan Tenure in Mo" [(ngModel)]="query.tenureMo">
            </div>

            <div>
              <div class="input-group-append input-sub-text">
                <button class="btn btn-outline-secondary" [ngClass]="{'active':yrToggle}"
                  (click)="yrToggle=true;refresh()" type="button">Yr</button>
                <button class="btn btn-outline-secondary" [ngClass]="{'active':!yrToggle}"
                  (click)="yrToggle=false;refresh()" type="button">Mo</button>
              </div>
            </div>

          </div>
          <br />

        </div>

      </div>
      <div class="col-lg-3">
        <h4 class="heading-left categoryheader sub-header">Mortgage Calculation</h4>
        <p>Results of your mortgage calculation:</p>
        <div class="well">



          <div class="input-group">
            <span class="input-group-addon">Principal</span>
            <span class="result">{{result.principal}}</span>
          </div>


          <hr />

          <div class="input-group">
            <span class="input-group-addon">Interest Payable</span>
            <span class="result"> {{result.interest || "--"}}</span>
          </div>



          <hr />

          <div class="input-group">
            <span class="input-group-addon">Total Payment</span>

            <span class="result bold"> {{result.total || "--"}}</span>
          </div>

          <hr />




        </div>
      </div>
    </div>
  </div>
</div>